{%extends 'main.html'%}
{%block content%}
<div class="wrapper">
    <div class="col-lg-12">
        {%if page == 'delete_card'%}
        <div class="box-element">
            
            <p>Are you sure you want to delete {{productObj.title}}?</p>
        
            <form action="{% url 'delete-card' productObj.id %}" method="POST">
                {%csrf_token%}
                <button type="submit" method="POST" class="btn btn-secondary">Delete</button>
                <a class="btn btn-outline-dark" href="{%url 'product-card' product.id %}">Cancel</a>
            </form>
        </div>
        {%else%}
        <div class="box-element">
            
            <p>Are you sure you want to delete {{orderItem.product.title}}?</p>
            <form action="{% url 'delete-orderItem' orderItem.id %}" method="POST">
                {%csrf_token%}
                <button type="submit" method="POST" class="btn btn-secondary">Delete</button>
                <a class="btn btn-outline-dark" href="{%url 'order' %}">Cancel</a>
        </div>
        {%endif%}
        
    </div>
</div>
{%endblock%}