{% extends 'main.html' %}
{% load static %}

{%block content%}

<div class="wrapper">
    <div class="row">
        {%for product in products%}
        <div class="col-lg-3" id="card">
            {%if product.product_image%}
                    <img class="img" src="{{product.product_image.url}}" alt="">
            {%endif%}
            <div class="box-element product">
                
                <h6 class="title"><strong>{{product.title}}</strong></h6>
                <hr>
                
                <a href="{% url 'product-card' product.id %}" class="btn btn-success" id="details">View</a>
                <h4 class="price">{{product.price}}$</h4>
                
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}

