{%extends 'main.html'%}

{%block content%}
<div class="wrapper">
    <div class="col-lg-12">
        <div class="box-element">
            <form  method="POST">
                {%csrf_token%}

                {{form_q.as_p}}
                
                {%if orderItem.product.is_shoe%}
                    {{form_s.as_p}}
                {%endif%}

                {%if orderItem.product.is_cloth%}
                    {{form_c.as_p}}
                {%endif%}

                <button type="submit" class="btn btn-secondary">Add to Card</button>
                <a class="btn btn-outline-dark" href="{%url 'order' %}">Back</a>
            </form>
        </div>
    </div>
</div>
{%endblock%}